@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    font-family: 'Righteous';
}
.logo-img {
    width: 250px;
    height: auto;
    float: left;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 100px;
    color: 	#FF7000;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-family: 'Righteous';
}
.contenedor-header header nav ul li a:hover{
    color: 	#FF7000;
}
.nav-responsive{
    background-color: #FF7000;
    color:#FFf;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75%;
        background-color: #Fff;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #FF7000;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .index.html .fila {
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content  ;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
.conteiner-items{
    padding: 0%;
}
.titulo h1{
    font-family: 'Righteous';
    color: #FF7000;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    margin-left: 150px;
    text-align: center;
}
body{
    background-color: #ffffff;
    max-width: 1200px;
    font-family: 'Righteous';
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.conteiner-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 150px;  
    margin-bottom: 10px;
}
.item{
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-left: 30px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
}
.info-product{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}
.info-product h2{
   color: #FF7000;
   padding-bottom: 10px;
}
.info-product a{
    display: flex;
    flex-direction: column;

}
.info-product p{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding-bottom: 10px;

}
.item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.2);
    transition: all .5s;
}
.info-product button{
    border: none;
    background: none;
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
}
/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
    .conteiner-items {
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 80%;
    }
}
h2{
    margin-top: 10px;
}
