@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header {
    position: relative; /* Asegurar que el encabezado tenga un contexto de posicionamiento */
    z-index: 1; /* Elevar el encabezado por encima del fondo */
}

/* MENU */
.contenedor-header{
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo-img {
    width: 250px;
    height: auto;
    float: left;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: 	#FF7000;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: 	#FF7000;
}
.nav-responsive{
    background-color: #FF7000;
    color:#FFf;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75%;
        background-color: #Fff;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #FF7000;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .index.html .fila {
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content  ;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
/* Estilos para la sección */

section {
    background-color: #f0f0f0; /* Color de fondo de la sección */
    padding: 250px 0; /* Relleno interno de la sección */
    text-align: center; /* Alineación del contenido al centro */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.514)),
    url(img/ferreteria.jpg);
    background-size: cover; /* Ajuste del tamaño del fondo */
    background-repeat: no-repeat;
}

/* Estilos para el contenedor principal */
.contenido-seccion {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
}

/* Estilos para el título */
.contenido-seccion h1 {
    font-size: 50px; /* Tamaño de fuente del título */
    color: #FF7000; /* Color del texto del título */
    font-family: 'Righteous';
}

/* Estilos para el párrafo */
.contenido-seccion p {
    font-size: 20px; /* Tamaño de fuente del párrafo */
    color: #fff;
    margin-top: 20px; 
}
.redes{
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;

}
.redes{
    margin-bottom: -90px;
}
.redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;  
    margin-top: 100px;
}
.redes .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FF7000;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;    
}



  